{% if user.is_authenticated %}
{% include "header.html" %}
{% include "sidenav.html" %}
<div id="layoutSidenav_content">
<main>
   <div class="container-fluid px-4">
      <h1 class="mt-4">Volunteers List</h1>
      <ol class="breadcrumb mb-4">
         <li class="breadcrumb-item active">OMS Dashboard</li>
      </ol>
      {% for message in messages %}
      <div class="alert alert-dismissible fade show {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}" role="alert" id="alertMessage">
         <strong>Alert:</strong> {{ message }}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
      </div>
      {% endfor %}

      <div class="card mb-4">
         <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Volunteers DataTable
         </div>
         <div class="card-body">
            <table id="datatablesSimple" class="table">
               <thead>
                  <tr>
                     <th>Full Name</th>
                     <th>Phone</th>
                     <th>Position</th>
                      <th>Qualification</th>
                      <th>CNIC</th>
                     <th>Status</th>
                     <th>Duration</th>
                     <th>Date Joined</th>
                     <th>Date Left</th>
                  </tr>
               </thead>
               <tfoot>
                  <tr>
                     <th>Full Name</th>
                     <th>Phone</th>
                     <th>Position</th>
                      <th>Qualification</th>
                      <th>CNIC</th>
                     <th>Status</th>
                     <th>Duration</th>
                     <th>Date Joined</th>
                     <th>Date Left</th>
                     <!-- Add other columns as needed -->
                  </tr>
               </tfoot>
               <tbody>
                  {% for volunteer in volunteers %}
                  <tr>


    <td><a href="{% url 'volunteers:volunteer_detail' pk=volunteer.pk %}">{{ volunteer.full_name }}</a></td>
    <!-- Add other columns as needed -->
                     <td>{{ volunteer.phone_number }}</td>
                     <td>{{ volunteer.position }}</td>
                      <td>{{ volunteer.qualification }}</td>
                      <td>{{ volunteer.cnic }}</td>
                     <td>{{ volunteer.status }}</td>
                      <td></td>
                     <td>{{ volunteer.date_joined }}</td>
                     <td>{{ volunteer.date_left }}</td>

                     <!-- Add other columns as needed -->
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</main>
{% include "footer.html" %}
{% endif %}